.play_head {
    position: absolute;
    top: var(--note-margin-vert);
    left: calc(var(--track-title-width) + (var(--spacer) * 2));
    height: var(--play-head-height);
    width: var(--play-head-width);
    background-color: var(--color-highlight);
  }
